<main id="main" [ngClass]="{'collapsed' : isClick}">
    <div class="card h-100">
        <div class="card-header">
            <div class="row">
                <div class="title col">Title</div>
                <div class="col-auto">
                    <a href="#" class="btn btn-primary">Save</a>
                    <a href="#" class="btn border">Cancel</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table datatable [dtOptions]="dtOptions" class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Foo</td>
                        <td>Bar</td>
                        <td>1</td>
                        <td>Foo</td>
                        <td>Bar</td>
                        <td>1</td>
                        <td>Foo</td>
                        <td>Bar</td>
                        <td>1</td>
                        <td>Foo</td>
                        <td>Bar</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Someone</td>
                        <td>Youknow</td>
                        <td>2</td>
                        <td>Someone</td>
                        <td>Youknow</td>
                        <td>2</td>
                        <td>Someone</td>
                        <td>Youknow</td>
                        <td>2</td>
                        <td>Someone</td>
                        <td>Youknow</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Iamout</td>
                        <td>Ofinspiration</td>
                        <td>3</td>
                        <td>Iamout</td>
                        <td>Ofinspiration</td>
                        <td>3</td>
                        <td>Iamout</td>
                        <td>Ofinspiration</td>
                        <td>3</td>
                        <td>Iamout</td>
                        <td>Ofinspiration</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Yoda</td>
                        <td>Skywalker</td>
                        <td>4</td>
                        <td>Yoda</td>
                        <td>Skywalker</td>
                        <td>4</td>
                        <td>Yoda</td>
                        <td>Skywalker</td>
                        <td>4</td>
                        <td>Yoda</td>
                        <td>Skywalker</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Patrick</td>
                        <td>Dupont</td>
                        <td>5</td>
                        <td>Patrick</td>
                        <td>Dupont</td>
                        <td>5</td>
                        <td>Patrick</td>
                        <td>Dupont</td>
                        <td>5</td>
                        <td>Patrick</td>
                        <td>Dupont</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Barack</td>
                        <td>Obama</td>
                        <td>6</td>
                        <td>Barack</td>
                        <td>Obama</td>
                        <td>6</td>
                        <td>Barack</td>
                        <td>Obama</td>
                        <td>6</td>
                        <td>Barack</td>
                        <td>Obama</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>François</td>
                        <td>Holland</td>
                        <td>7</td>
                        <td>François</td>
                        <td>Holland</td>
                        <td>7</td>
                        <td>François</td>
                        <td>Holland</td>
                        <td>7</td>
                        <td>François</td>
                        <td>Holland</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Michel</td>
                        <td>Popo</td>
                        <td>8</td>
                        <td>Michel</td>
                        <td>Popo</td>
                        <td>8</td>
                        <td>Michel</td>
                        <td>Popo</td>
                        <td>8</td>
                        <td>Michel</td>
                        <td>Popo</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Chuck</td>
                        <td>Norris</td>
                        <td>9</td>
                        <td>Chuck</td>
                        <td>Norris</td>
                        <td>9</td>
                        <td>Chuck</td>
                        <td>Norris</td>
                        <td>9</td>
                        <td>Chuck</td>
                        <td>Norris</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Simon</td>
                        <td>Robin</td>
                        <td>10</td>
                        <td>Simon</td>
                        <td>Robin</td>
                        <td>10</td>
                        <td>Simon</td>
                        <td>Robin</td>
                        <td>10</td>
                        <td>Simon</td>
                        <td>Robin</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Louis</td>
                        <td>Lin</td>
                        <td>11</td>
                        <td>Louis</td>
                        <td>Lin</td>
                        <td>11</td>
                        <td>Louis</td>
                        <td>Lin</td>
                        <td>11</td>
                        <td>Louis</td>
                        <td>Lin</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>