<main id="main" [ngClass]="{'collapsed' : isClick}">
    <div class="card h-100">
        <div class="card-header">
            <div class="row">
                <div class="title col">Title</div>
                <div class="col-auto">
                    <a href="#" class="btn btn-primary">Save</a>
                    <a href="#" class="btn border">Cancel</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
</main>