<main id="main" [ngClass]="{'collapsed' : isClick}">
    <div class="card h-100">
        <div class="card-header">
            <div class="row">
                <div class="title col">Complaint List</div>
                <div class="col-auto">
                    <ng-container *ngFor="let button of buttonsList">
                        <a href="#" class="btn btn-primary">Button Text Here</a>
                        <!-- <a href="#" class="btn border">Cancel</a> -->
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table datatable [dtOptions]="dtOptions" class="table">
            </table>
        </div>
    </div>
</main>