<div class="card mt-4">
    <div class="card-header">
        <div class="row">
            <div class="title col">Attachment</div>
            <div class="col-auto">
                <a href="javascript:;" class="btn btn-primary"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table datatable class="table ">
            <thead>
                <tr>
                    <th>Icon</th>
                    <th>Date</th>
                    <th>File name</th>
                    <th>Notes</th>
                    <th>Description</th>
                    <th>Download</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>