<div id="login_wrappar">
    <form>
        <header>
            <img src="../../../../assets/media/logo.alivia.png" alt="Alivia Analytics" />
        </header>
        <section>
            <div class="form-group row">
                <label for="loginEmail" class="col-sm-3 col-form-label">Username:</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="loginEmail" placeholder="Enter Your Email">
                    <small class="text-danger d-none">This Field is required</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="loginPassword" class="col-sm-3 col-form-label">Password:</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="loginPassword" placeholder="Enter Your Password">
                    <small class="text-danger d-none">This Field is required</small>
                </div>
            </div>
        </section>
        <footer>
            <button class="btn">Login</button>
        </footer>
    </form>
</div>