<main id="main" [ngClass]="{'collapsed' : isSideMenuOpen || isHeaderMenuOpen}">
    <div class="card h-100">
        <div class="card-header">
            <div class="row">
                <div class="title col">Complaint List</div>
                <div class="col-auto">
                    <ng-container *ngFor="let button of buttonsList">
                        <a href="#" class="btn btn-primary">{{button.ai_workflow_access_name}}</a>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="card-body">
            <app-generic-grid [cols]="cols" [data]="caseList" [response]="response" [RcActions]="actionsList"></app-generic-grid>
        </div>
    </div>
</main>